body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: blue;
}
body > div {
  max-width: 1000px;
  padding-top: 50px;
}

h1 {
  font-size: 50px;
}

h1,
p,
div,
body {
  font-family: "PT Sans", sans-serif;
  color: #fff;
}

.balloon {
  font-size: 30px;
}
